<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jogo da Velha</title>
    <link rel="stylesheet" href="css/css.css">
  </head>
  <body>
	<center>
	<h3>Coloque um "X" ou "O" para completar os espaços do jogo da velha.</h3>
	<h4>A marcação do jogo se dará por matriz.</h4>
    <form name="" action="" method="POST">
        
        Opção[0,0]: <input type="text" name="marcacao"/>
		Opção[0,1]: <input type="text" name="marcacao"/>
		Opção[0,2]: <input type="text" name="marcacao"/><br>
		
		Opção[1,0]: <input type="text" name="marcacao"/>
		Opção[1,1]: <input type="text" name="marcacao"/>
		Opção[1,2]: <input type="text" name="marcacao"/><br>
		
		Opção[2,0]: <input type="text" name="marcacao"/>
		Opção[2,1]: <input type="text" name="marcacao"/>
		Opção[2,2]: <input type="text" name="marcacao"/><br>
		<br>
        
        <input type="submit" value="Jogar" />
      </form>
	  <a href="/index.html">HOME</a>
	  </center>
  </body>
</html>
