<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Início do Campeonato</title>
    <link rel="stylesheet" href="css/css.css">
  </head>
  <body>
	<center>
	<h3>Campeonato de Computação</h3>
	<img  src="trofeu.png"> <br>
	
	CAMPEÃO: <%=equipes[0].campeao%> <br> <br>
	
	<a href="/index.html">HOME</a>
	  </center>
  </body>
</html>