<html lang="en">
<head>
  <title>Trabalho 2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<center>
	<div class="well" style="width: 90%; margin-left: auto; margin-right: auto;">
	<fieldset>
	<h3>Informações: </h3>
	<p>Nome: <%=nome%></p>
	<p>Matrícula: <%=matricula%></p>
	<p>Curso: <%=curso%></p>
	<p>E-mail: <%=email%></p>
	
	 <br>
		<a class="btn btn-primary" href="/index.html">HOME</a>
	</center>
    </fieldset>
	</div>
  </body>
</html>
