<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Amigo Oculto</title>
    <link rel="stylesheet" href="css/css.css">
  </head>
  <body>
  <center>
      <h1>Amigo Oculto - Sorteio</h1>
	  <form name="" action="" method="POST">
	  Indique a quantidade de nomes: <input type="number" name="quantidadeNomes"/><br> <br>
        <input type="submit"/>
      </form>
		<a href="/index.html">HOME</a>
	</center>
      
  </body>
</html>
