<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nomes Amigo Oculto</title>
    <link rel="stylesheet" href="css/css.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
	<center>
	<div class="well" style="width: 90%; margin-left: auto; margin-right: auto;">
	<fieldset>
      <h1>Amigo Oculto</h1>
      <form name="" action="" method="POST">
        <% for (var i=0; i< quantidade;i++){
          %>
        Nome: <input type="text" name="nomes"/><br> <br>
        <%}%>
		<input type="hidden" name="quantidadeNomes" value="0"/>
        <input type="submit"/>
      </form>
	  <br>
	  <a class="btn btn-primary" href="/index.html">HOME</a>
	  </fieldset>
	</div>
	</center>
  </body>
</html>