<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Amigo Oculto</title>
    <link rel="stylesheet" href="css/css.css">
  </head>
  <body>
  <center>
      <h1>Amigo Oculto - Sorteio</h1>
		<table>
        <% for(var i in sorteio){
                var pessoa = sorteio[i];
        %>
		<tr>
			<td>
        <%=pessoa.nome1%> tirou <%=pessoa.nome2%> <br>  
			</td>
		</tr>
        <%}%>
		</table>
		<a href="http://localhost:3000">HOME</a>
	</center>
      
  </body>
</html>
